.films {
  padding-bottom: 50px;

  .films__header {
    margin-bottom: 80px;
  }

  .films__loader {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: #263038;
  }

  .films__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 50px;
  }

  .films__pagination {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .films__list {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .film-card__title {
    color: white;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .films__list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
