<div
  class="film-card"
  (mouseenter)="_onMouseEnter()"
  (mouseleave)="_onMouseLeave()"
  (click)="_onClick()"
  [class.slided]="_isPopoverVisible()"
>
  @if (film()) {
  <div class="film-card__inner">
    <div class="film-card__poster">
      <div class="film-card__bg animations" [style.display]="_isImageLoaded() ? 'none' : 'block'">
        <span class="film-card__alt-text">{{ film().title }}</span>
      </div>
      <img
        [ngSrc]="_posterPath()"
        [alt]="film().title"
        fill
        fetchpriority="auto"
        class="animations"
        [style.opacity]="_isImageLoaded() ? '1' : '0'"
        [priority]="priority()"
        [loading]="priority() ? undefined : 'lazy'"
        (load)="_isImageLoaded.set(true)"
      />
    </div>
    <div class="film-card__popover">
      @if (_isPopoverVisible()) {
      <film-popover
        [film]="film()"
        [position]="_popoverPosition()"
        [animate.enter]="_enterClass()"
      ></film-popover>
      }
    </div>
  </div>
  }
</div>
