.film-card {
  position: relative;
  cursor: pointer;

  &.slided {
    position: relative;
    z-index: 200;
  }

  .film-card__poster {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    aspect-ratio: 2 / 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.7);
      transition: filter 0.2s ease;
      line-height: 1em;
      text-indent: -9999px;
    }

    .alt-text {
      position: absolute;
      top: 5%;
      left: 5%;
      color: white;
      font-size: 14px;
      text-align: center;
      width: 90%;
      transition: opacity 0.2s;

      &.hidden {
        opacity: 0;
      }
    }
  }

  &:hover .film-card__poster {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(255, 255, 255, 0.4);
  }

  &:hover .film-card__poster img {
    filter: brightness(1);
  }
}

@media (max-width: 768px) {
  .film-card {
    .film-card__inner {
      position: relative;
      overflow: hidden;
      border-radius: 12px;

      .film-card__poster {
        position: relative;
        border-radius: 12px;

        img {
          filter: unset;
          transition: unset;
        }
      }

      &:hover .film-card__poster {
        transform: unset;
        box-shadow: unset;
      }

      &:hover .film-card__poster img {
        filter: unset;
      }

      .film-card__popover {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;
        transition: transform 0.3s ease;
      }
    }

    &.slided {
      z-index: unset;
      .film-card__inner {
        .film-card__poster {
          transform: translateX(100%);
        }

        .film-card__popover {
          transform: translateX(100%);
          pointer-events: unset;
        }
      }
    }
  }
}

.enter-animation {
  animation: slide-fade 1s;
}

@keyframes slide-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
