<div
  class="film-card"
  (mouseenter)="_onMouseEnter()"
  (mouseleave)="_onMouseLeave()"
  (click)="_onClick()"
  [class.slided]="_isPopoverVisible()"
>
  @if (film()) {
  <div class="film-card__inner">
    <div class="film-card__poster">
      <img
        [ngSrc]="_posterPath()"
        alt="{{ film().title }}-poster"
        fetchpriority="low"
        fill
        [priority]="priority()"
        [loading]="priority() ? undefined : 'lazy'"
      />
    </div>
    <div class="film-card__popover">
      @if (_isPopoverVisible()) {
      <film-popover
        [film]="film()"
        [position]="_popoverPosition()"
        [animate.enter]="_enterClass()"
      ></film-popover>
      }
    </div>
  </div>
  }
</div>
