.pagination {
  display: flex;
  gap: 10px;
  flex-direction: column;

  .pagination__inner {
    display: flex;
    align-items: center;
    gap: 15px;

    .pagination__num {
      color: white;
      font-size: 22px;
      cursor: pointer;
      line-height: 1;

      &.active {
        font-size: 30px;
      }
    }

    .pagination__side {
      display: flex;
      gap: 15px;
    }

    .pagination__action {
      transition: transform 0.25s;

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:hover:not(.active):not([disabled]) {
        transform: scale(1.3);
      }

      &.arrow_next:hover:not(.active):not([disabled]) {
        transform: rotate(180deg) scale(1.3);
      }
    }
  }

  .pagination__arrow {
    background-color: unset;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: start;
  }

  .pagination__extra {
    display: none;
  }

  .pagination__no-results {
    font-size: 22px;
    color: white
  }
}

@media (max-width: 768px) {
  .pagination {
    flex-grow: 1;

    .pagination__inner {
      .pagination__side {
        display: none;
      }
    }

    .pagination__extra {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;

      .pagination__arrow {
        transform: scaleX(1.5);

        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
