<div class="film-card__popover" [class.left]="position() === 'left'">
  <h2 class="film-card__popover-title">{{ film().title }}</h2>

  <div class="film-card__popover-inner">
    <div class="film-card__popover-img">
      @if (_isLoading()) {
      <div class="film-card__popover-loader">
        <loader
          [style.color]="'rgba(38,48,56,0.71)'"
        ></loader>
      </div>
      }
      <img
        [src]="_backdropPath()"
        alt="{{ film().title }}-backdrop"
        loading="lazy"
        (load)="_isLoading.set(false)"
        [class.hidden]="_isLoading()"
      />
    </div>
    <div class="film-card__popover-info">
      @if (film().overview) {
      <p>{{ film().overview | slice : 0 : 50 }}...</p>
      }
    </div>
  </div>

  <div class="film-card__popover-genres">
    @for (genre of film().genres; track $index) {
    <div class="film-card__popover-genre">{{ genre }}</div>
    }
  </div>

  <div class="film-card__popover-extra">
    <p class="film-card__popover-year">{{ film().release_date.split('-')[0] || '—' }}</p>
    <div class="film-card__popover-vote" [appRatingColor]="film().vote_average">
      {{ film().vote_average | number : '1.1-1' }}
    </div>
  </div>
</div>
