* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
  padding: 0 15px;
}

.title {
  font-size: 72px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

input:focus-visible {
  outline: unset;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
