@font-face {
  font-family: 'OpenSansRegular';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'OpenSansRegular', sans-serif;
}

.container {
  padding: 0 15px;
}

.title {
  font-size: 72px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

input:focus-visible {
  outline: unset;
}

.arrow_next {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
