<main class="films">
  @if (!_isError()) {
  <header class="films__header">
    <input
      [formControl]="_searchedField"
      class="films__search"
      type="text"
      placeholder="Поиск..."
      name="search"
    />
  </header>

  <div class="container">
    <h1 class="films__title title">Каталог фильмов</h1>
    @if (_isLoading() || !_hasHydrated()) {
    <div class="films__loader">
      <loader></loader>
    </div>
    } @else {
    <div class="films__list">
      @for (film of _filmsWithGenres(); track film.id; let i = $index) {
      <div class="films__item">
        <film-card [film]="film" [priority]="i < 4"></film-card>
      </div>
      }
    </div>

    <div class="films__pagination">
      <pagination
        [allPagesCount]="_filmsPages().total"
        [currentPage]="_filmsPages().current"
        [totalResults]="_filmsPages().totalResults"
        (pageChange)="_loadNewPage($event)"
      ></pagination>
    </div>
    }
  </div>
  } @else {
  <div class="films__error">Упс, что-то пошло не так :(</div>
  <div class="films__error">{{ _isError() }}</div>
  }
</main>
