<main class="films">
  @if (!_isError()) {
  <header class="films__header">
    <search-input (search)="_loadNewPage(1, $event)"></search-input>
  </header>

  <div class="container">
    <h1 class="films__title title">Каталог фильмов</h1>
    @if (_isLoading()) {
    <div class="films__loader">
      <loader></loader>
    </div>
    } @else {
    <div class="films__list">
      @for (film of _filmsWithGenres(); track film.id; let i = $index) {
      <div class="films__item">
        <film-card [film]="film" [priority]="i < 4"></film-card>
      </div>
      }
    </div>

    <div class="films__pagination">
      @defer (hydrate on hover) {
      <pagination
        [allPagesCount]="_filmsPages().total"
        [currentPage]="_filmsPages().current"
        [totalResults]="_filmsPages().totalResults"
        (pageChange)="_loadNewPage($event)"
      ></pagination>
      } @placeholder {
      <div>pagination</div>
      } @loading {
      <loader></loader>
      }
    </div>
    }
  </div>
  } @else {
  <span class="films__error">Упс, что-то пошло не так :(</span>
  <span class="films__error">{{ _isError() }}</span>
  }
</main>
