.films {
  min-height: 100vh;
  background-color: #263038;
  padding-bottom: 50px;

  .films__header {
    padding: 40px 20px;
    display: flex;
    justify-content: flex-end;

    .films__search {
      width: 400px;
      box-sizing: border-box;
      padding: 8px;
      font-size: 24px;
      border: 2px solid white;
      border-radius: 8px;
    }
  }

  .films__title {
    margin-bottom: 80px;
  }

  .films__loader {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: #263038;
  }

  .films__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 50px;
  }

  .films__pagination {
    display: flex;
    justify-content: center;
  }

  .pagination-mobile_extra {
    display: none;
  }
}

@media (max-width: 1304px) {
  .films {
    .films__list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@media (max-width: 768px) {
  .films {
    .films__title {
      margin-bottom: 30px;
    }
    .films__list {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .film-card__title {
      color: white;
      font-size: 34px;
    }

    .films__header {
      padding: 20px 10px;
      display: flex;
      justify-content: center;

      .films__search {
        width: 100%;
        padding: 6px;
        font-size: 18px;
        border: 1px solid white;
        border-radius: 6px;
      }
    }
  }
}
